* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/*VARIABLES*/

$background_titles: #7ad7a7;
$font_color: #4d4d4f;

/*SCSS*/
/*HOME*/

body {
  font-family: "Noto Sans JP", sans-serif;
}

header {
  width: 70%;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @media screen and (max-width: 768px) {
    display: block;
    height: auto;
    margin-bottom: 30px;
  }
}

.img_logo {
  width: 100px;
  height: 100px;
  @media screen and (max-width: 768px) {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
  }
}

.menu {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  color: $font_color;
  font-size: 16px;
  width: 100%;
  margin: auto;
  transition: background-color 2s ease;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

label {
  color: white;
  display: block;
  @media screen and (max-width: 768px){
    color: $font_color;
    text-align: center;
  }
}

nav input {
  display: none;
}

nav {
  text-align: center;
  display: contents;
  margin: inherit;
}

nav input:checked ~ .menu
{
  display: block;
}

.menu_items:hover {
  background-color: $background_titles;
}

.links {
  text-decoration: none;
  color: $font_color;
  margin: auto;
  padding: 1rem;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
}

#navbar-links {
  height: 100%;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: $background_titles;
  border-radius: 10px;
}

#navbar-links:target {
  display: flex;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button {
    display: flex;
  }
  #navbar-links {
    display: none;
    width: 100%;
  }
  #navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  #navbar-links ul li {
    text-align: center;
  }
  #navbar-links ul li a {
    padding: 0.5rem 1rem;
  }
}

.intro_title {
  background-color: $background_titles;
  color: $font_color;
  width: 70%;
  margin: auto;
  padding: 0px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 1%;
}

@media screen and (max-width: 768px) {
  .intro_title {
    width: 70%;
    margin: auto;
    font-size: 26px;
  }
}

.intro_subtitle {
  color: $font_color;
  width: 70%;
  margin: auto;
  text-align: center;
  font-size: 26px;
}

@media screen and (max-width: 768px) {
  .intro_subtitle {
    text-align: center;
    font-size: 12px;
    width: 70%;
    margin: auto;
  }
}

.img_producto_destacado {
  height: 400px;
  width: 400px;
}

@media screen and (max-width: 768px) {
  .img_producto_destacado {
    text-align: center;
    width: 200px;
    height: 200px;
    margin: auto;
  }
}

.fw-bold {
  font-size: 32px;
  color: $font_color;
}

@media screen and (max-width: 768px) {
  .fw-bold {
    text-align: center;
    font-size: 20px;
    width: 70%;
    margin: auto;
  }
}

.producto-desc {
  font-size: 16px;
  color: $font_color;
}

@media screen and (max-width: 768px) {
  .producto-desc {
    text-align: center;
    font-size: 12px;
    width: 70%;
    margin: auto;
  }
}

.btn {
  font-size: 16px;
  background: rgb(34, 193, 195);
  background: radial-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(252, 252, 252, 1) 100%
  );
  border-radius: 5%;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .btn {
    text-align: center;
    font-size: 12px;
    width: 70%;
    margin: auto;
  }
}

.container {
  margin: auto;
  width: 70%;
}

.productos-titulos {
  color: $font_color;
  width: 70%;
  margin: auto;
  padding: 0px;
  text-align: center;
  margin-bottom: 1%;
  margin-top: 2%;
}

.productos-titulos h2 {
  font-size: 20px;
  font-weight: bolder;
}

.productos {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  width: 70%;
  margin: auto;
  height: auto;
}

@media screen and (max-width: 768px) {
  .productos {
    grid-template-columns: repeat(1, 240px);
    height: auto;
  }
}

// .sub-producto {
//   height: 320px;
//   display: flex;
//   flex-direction: column;
//   margin-top: auto;
//   text-align: center;
//   font-size: 16px;
//   color: $font_color;
// }

// @media screen and (max-width: 768px) {
//   .sub-producto {
//     height: initial;
//   }
// }

.promo {
  margin-top: 3%;
}

.foto-producto {
  height: 200px;
  width: auto;
}

/*OFERTAS*/

@media screen and (max-width: 768px) {
  .intro {
    margin: auto;
    width: auto;
  }
}

  .intro_title_productos {
      background-color: $background_titles;
      color: $font_color;
      width: 100%;
      margin: auto;
      text-align: center;
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 1%;
      @media screen and (max-width: 768px) {
        width: 70%;
        margin: auto;
        font-size: 26px;
        
      }
  }
    

  
  .producto-texto {
    display: none;
  }

  .footer {
    margin-top: 2%;
  }

