.sub_producto_texto {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
  color: $font_color;
}

.productos_principales {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  justify-content: space-around;
  width: 70%;
  margin-top: 10%;
  margin: auto;
  margin-bottom: 20px;
  
}

@media screen and (max-width: 768px) {
  .productos_principales {
    grid-template-columns: repeat(1, 240px);
  }
}

.sub-producto {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
  color: $font_color;
}
